@import url("layout.css");
@import url("bot-css.css");
@import url("side-css.css");

body {
  margin: 0;
  height: 100vh;
  background: #444;
}

canvas {
  height: 100%;
  width: 97%;
  border: 2px solid black;
}
