body {
  margin: 0;
  height: 100vh;
}

canvas {
  height: 400px;
  width: 400px;
  border: 5px solid black;
}

.color-option {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid black;
}

.color-option:hover {
  outline: 1px solid cornflowerblue;
}
